doctype html
include ./header.pug
body
    include ./nav.pug
    .container
        .row
            div(class='col-sm login')
                h1 Meeting Group
                hr
                table.table.table-striped
                    thead
                        th Name
                        th Department
                        th Leader
                    
                    tbody
                        each member in Group
                            tr
                                td=member._name
                                td=member._department
                                if(member._leader == 1)
                                    td Leader
                                else
                                    td

            //Section for login form
            div(class='col-sm login')
                h1 Meeting Detail
                hr
                table.table
                    tr
                        td Date:
                        td=Meeting.Meet_Date
                    tr
                        td Time:
                        td=Meeting.Meet_Time
                    tr
                        td Location:
                        td=Meeting.Meet_Location
                if(leader)
                    div.text-uppercase
                        a(class="btn btn-info" href="/meeting/leader" role="button") Leave After Lunch Summary
                        br
                        br
                        a(class="btn btn-info" href="/meeting/leader/details" role="button") Set Up Meeting

                div(id='calendar')
    include ./bootstrapScript.pug      