doctype html
include ./header.pug
body
    include ./nav.pug
    .container
        div.col-sm.updatemeeting
            h1 Update your profile
            form(action='/update' method='POST')
                table.table
                    tr
                        td Name
                        td
                            input(type='text' name='profile_name' value=profileData._name required='')
                    tr
                        td Description
                        td
                            input(type='textbox' name='profile_desc' value=profileData._description required='')
                    tr
                        td Department
                        td
                            select(name='department' value=profileData._department)
                                each v in variables
                                    if v._value == profileData._department
                                        option(value=profileData._department) #{v._dept}
                                each variable in variables
                                    option(value=variable._value) #{variable._dept}
                input(type='submit' class="btn btn-info")
            br
            div.text-uppercase
                    a(class="btn btn-info" href="/users" role="button") Cancel
            br
    include ./bootstrapScript.pug  