doctype html
html(lang='en')
    include ./header.pug
    body
        include ./nav.pug
        .container
            h1 For admin eyes only #{active}
            form( action='/save-user-settings' method='POST' onsubmit='return checkbox()' )
                table.table.table-dark
                    tr
                        thead.thead-dark
                            th ID
                            th Username
                            th Email
                            th Status
                    each u in users
                        tr
                            td= u.id
                                input(type='hidden' name='id' value=u.id)
                            td= u.username
                            td= u.email
                            td 
                                label.switch
                                    input(type='checkbox' name='active' value="1" checked=u.active)
                                    span.slider.round
                                input(type='hidden' name='active' value="0")    
                                //- input(type="hidden" name="active" value=(true === false ? "1" : '0'))
                button.btn.btn-primary.btn-lg(type='submit') Save Changes
                button.btn.btn-secondary.btn-lg(type='button') Cancel
